@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

/* UPAO Font Colors */
.blue {
    color: #0056A3;
}

.gray {
    color: #94A3B8;
}

.darkgray {
    color: #666666;
}

.lime {
    color: #22C55E;
}

.red {
    color: #DC2626;
}

.bg-blue {
    background-color: #0056A3;
}

/* Restyle Buttons */
.btn:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

/* Resize */
.resize {
    height: 300px;
}

/* New Orange Button Style */
.btn-outline-orange {
    color: #fd6300;
    border-color: #fd6300;

    transition: transform 500ms ease;
}

.btn-outline-orange:hover {
    color: #fff;
    border-color: #fd6300;
    background-color: #fd6300;
    transition: .3s;
    /* transform: scale(1.05); */
}

/* Add new rounded */
.rounded-4 {
    border-radius: 15px;
}

/* Footer Styles */
footer a {
    color: #fff;
}

footer a:hover {
    color: #fd6300;
}

/* Removing the shadows */
.accordion-button:focus {
    box-shadow: none;
}

.form-select:focus {
    box-shadow: none;
}

/* Add border on focus */
.form-control:focus {
    border: 1px solid dodgerblue;
}

/* Form Checked */
.form-check-input:checked {
    background-color: #fd6300;
    border-color: #fd6300;
}

.form-check-input:focus {
    box-shadow: none;
}

/* bg-danger restyling */
.bg-danger {
    background-color: #f02849 !important;
}

/* Tooltip Styles */
.tooltip-box {
	position: relative;
}

.tooltip-box::before,
.tooltip-box::after {
    --scale: 0;

	position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(30%) translateY(50%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: left center;
}

.tooltip-box::before {
    content: attr(data-tooltip);
    color: #fff;
    padding: .5rem;
    width: max-content;
    background: #111;
    border-radius: .3rem;
    text-align: center;
}

.tooltip-box:hover::before,
.tooltip-box:hover::after {
    --scale: 1;
}

/* Button Search */
.btn-search {
    right: 5px;
}

/* Settings Navigation Hover Effect */
#sidebarMenu .nav-link:hover {
    background-color: dodgerblue;
    color: #fff;
}

#sidebarMenu .active {
    background-color: dodgerblue;
    color: #fff;
}

#sidebarMenu .nav-link:focus {
    color: #fff;
    background-color: dodgerblue;
}

/* Upload Image Styles */

.wrapper {
    display: flex;
    position: relative;
    height: 200px;
    width: 200px;
    border: 2px dashed #c2cdda;
    border-radius: 10rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper #custom-btn {
    width: 100%;
    height: 50px;
    display: block;
    border: none;
}

.wrapper .image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*  */
.text-orange {
    color: #fd6300;
}

/* Responsive classes */
@media only screen and (max-width: 990px) {
    .hidden {
        display: none;
    }
}