@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

/* UPAO Font Colors */
.blue {
    color: #0056A3;
}

.gray {
    color: #94A3B8;
}

.darkgray {
    color: #666666;
}

.lime {
    color: #22C55E;
}

.red {
    color: #DC2626;
}

.bg-blue {
    background-color: #0056A3;
}

/* Restyle Buttons */
.btn:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

/* Resize */
.resize {
    height: 300px;
}

/* New Orange Button Style */
.btn-outline-orange {
    color: #fd6300;
    border-color: #fd6300;

    transition: transform 500ms ease;
}

.btn-outline-orange:hover {
    color: #fff;
    border-color: #fd6300;
    background-color: #fd6300;
    /* transition: .3s; */
    transform: scale(1.05);
}

/* Add new rounded */
.rounded-4 {
    border-radius: 15px;
}

/* Footer Styles */
footer a {
    color: #fff;
}

footer a:hover {
    color: #fd6300;
}

/* Removing the shadows */
.accordion-button:focus {
    box-shadow: none;
}

.form-select:focus {
    box-shadow: none;
}

/* Responsive classes */
@media only screen and (max-width: 990px) {
    .hidden {
        display: none;
    }
}